/*galeria*/
#galeria{
	height: 750px;
}
#galeria h2 {
	text-align: center;
	color: #1E1E1C;
	font-size: 3em;
	margin-top: 0px;
}

#contenedor-imagen {
	display: inline-block;
	width: 40%;
	border-radius: 1em;
	border: solid 2px #C7C0DE;
	background-color: #C7C0DE;
	padding: 2%;
}

#contenedor-preview {
	display: inline-block;
	width: 15%;
	vertical-align: top;
	margin-left: 10%;
}

#contenedor-preview img {
	border-radius: 1em;
	border: solid 2px #C7C0DE;
	background-color: #C7C0DE;
	padding: 5%;
}

#descripcion-imagen {
	color: #FFFFFF;
	padding: 4%;
	background-color: #3B2F63;
	opacity: 0.7;
	margin: 0px 5% 5% 5%;
}